header span {
  top: 25px;
  left: 25px;
}

header p {
  margin-top: 100px;
}

.dark-blue {
  color: darkblue;
}

.custom-btn {
  min-width: 85% !important;
}

.custom-size {
  width: 85%;
  height: auto;
  padding: 1rem;
}

.top {
  top: 15px;
  left: 30px;
  animation: 1.2s ease-out pop;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(100%);
  }
}

.blur {
  -webkit-filter: blur(3px);
}

.interest {
  border: 0;
  padding: 1.5rem;
  background-color: lightblue;
  border-radius: 1rem;
  /*min-width: 250px;
  max-width: 400px;*/
  width: 85%;
  margin: 2rem auto;
  list-style-type: none;
  text-align: center;
  transform: translateX(-20px);
}

.border-radius {
  border-radius: 1.5rem;
}

.mt-custom {
  margin-top: 4rem;
}